lable{display:block;}
.content{width:100%;display:block;margin:0 auto;background:#fff;}
.register-header{width:100%;height:15%;background:#000;color:#fff;height:40px;line-height:40px;text-align:center;
    padding:10px 0;
    font-family:'黑体'}
.register-header span{
    font-size:26px;
}
.judgeNull{
    color:red;
}
.select-subject{display:block;width:80%;
    text-align:center;
    margin:10px auto;}
.select-box{width: 80%;display: block;text-align:center;margin: 15px auto;font-size:16px;padding:10px 0;}
.select-box option{text-align:center;font-size:16px;}
.company-info{width:80%;display: block;margin: 10px auto;}
.company-info lable{width:25%;float:left;}
.company-info input{width:70%;float:right;}
.personal-info{clear:both;width:80%;margin: 10px auto;padding:10px 0;}
.personal-info div{width:100%;}
.store-name lable{width:25%;float:left;}
.store-name input{width:70%;float:right;}
.store-address {padding:10px 0;clear:both;}
.store-address lable{width:25%;float:left;}
.store-address div{width:71%;float:right;}
.store-address div select{width:31.9%;}
.store-address input{width:70%;float:right;display:block;margin:2px 0 5px;}
.user-account{clear:both;padding:10px 0;}
.user-account lable{width:25%;float:left;}
.user-account input{width:70%;float:right;}
.user-sex lable{width:25%;float:left;}
.user-sex div{width:70%;float:right;}

.stresson{clear:both;color:red;display:block;padding:10px;margin:10px auto;}
.register-btn{width:80%;text-align:center;background:#2fa4e7;display:block;color:#fff;margin:0 auto 20px;height:35px;line-height:35px;border-radius: 5px;cursor:pointer;box-sizing:border-box;}
.typeR{
    width:80%;
    margin:0 auto;
    padding:15px 0;
}
.typeR span{
    width:15%;
    margin-right:85%;
    background:#999;
    padding:10px;
    color:#fff;
    border-radius: 5px;
}
.layui-form-item2{
    width:80%;
    margin:0 auto 15px;
}
.layui-inline2{
    width:50%;
    float:left;
    margin:0 auto 15px;
}
.layui-inline2 .layui-form-label{
    float:left;
    width:15%;
}
.layui-inline2 .layui-input-inline2{
    float:left;
    width:70%;
}